NodeRed/flows/phExp/ex2.json
[
    {
        "id": "3330ba765bd49590",
        "type": "tab",
        "label": "example1 from Node-RED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2aff18105dcfcee",
        "type": "debug",
        "z": "3330ba765bd49590",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 400,
        "wires": []
    },
    {
        "id": "b270b3e39d20c7db",
        "type": "debug",
        "z": "3330ba765bd49590",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 520,
        "wires": []
    },
    {
        "id": "200939d1dca2d416",
        "type": "comment",
        "z": "3330ba765bd49590",
        "name": "https://openweathermap.org/appid",
        "info": "https://openweathermap.org/appid ",
        "x": 240,
        "y": 660,
        "wires": []
    },
    {
        "id": "9b0a1e8fde749323",
        "type": "debug",
        "z": "3330ba765bd49590",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "c4d3ddf610c54291",
        "type": "inject",
        "z": "3330ba765bd49590",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "9b0a1e8fde749323"
            ]
        ]
    },
    {
        "id": "2a40191e8474489d",
        "type": "openweathermap in",
        "z": "3330ba765bd49590",
        "name": "Local",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Asker",
        "country": "Norway",
        "language": "en",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "270041c3d631ffc6",
                "9b0a1e8fde749323",
                "e0d4cd656508e599"
            ]
        ]
    },
    {
        "id": "270041c3d631ffc6",
        "type": "function",
        "z": "3330ba765bd49590",
        "name": "if weather clear",
        "func": "if (msg.payload.weather === \"Clear\") {\n    msg.payload = \"Clear skies ahead today!\"\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "9b0a1e8fde749323"
            ]
        ]
    },
    {
        "id": "e0d4cd656508e599",
        "type": "function",
        "z": "3330ba765bd49590",
        "name": "if weather clear",
        "func": "if (msg.payload.tempc >= 20) {\n    msg.payload = \"Warm\"\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "0a20d455fa7df995"
            ]
        ]
    },
    {
        "id": "0a20d455fa7df995",
        "type": "debug",
        "z": "3330ba765bd49590",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    }
]